<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-subtitle>
        <p>Jone smith</p>
        <p>CFS ,CIC</p>
        <p>Premium member</p>
    </mat-card-subtitle>
    <mat-card-content>
        <p>Insurance Agent,Attorney,Accountant</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="text-center m">
        <mat-icon>email</mat-icon>
        <span>Send an Email</span>
    </div>
</mat-card>