<mat-toolbar>
  <div class="left">
    <span>Legacy Life Plans</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">Home</mat-icon><span>
      Home
    </span>
    <mat-icon>supervisor_account</mat-icon><span>
      Trustees
    </span>
    <mat-icon>perm_identity</mat-icon><span>
      Professionals
    </span>
    <span>
      <img src="../../../assets/ellipsis_icon-icons.com_72770.png" alt="more">
      More
    </span>
  </div>
  <div class="right">
    <span>
      <mat-icon>search</mat-icon>
    </span>
    <button mat-raised-button color="warn">
      <mat-icon>email</mat-icon>
      <span>
        Invite
      </span>
    </button>
    <div mat-card-avatar class="example-header-image"></div>

  </div>
</mat-toolbar>